<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="WCFWMSService.Properties.Settings.DBConnection"
      connectionString="Data Source=ORCL;Persist Security Info=True;User ID=ALPISIIPARTS;Password=ALPISII;Unicode=True" />
    <add name="WCFWMSService.Properties.Settings.ERPDBConnection"
      connectionString="Data Source=ESCALA;Persist Security Info=True;User ID=ATLANTISERP;Password=ATLANTIS000;Unicode=True" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFWMSService.WMSServicePortBehavior"  name="WCFWMSService.WMSServicePort">
        <endpoint address="http://odyxp/WCFExalcoPartsService2/WMSService.svc" binding="wsHttpBinding" contract="WCFWMSService.IWMSServicePort">
          <identity>
            <dns value="odyxp" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFWMSService.WMSServicePortBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
